body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .info {
    max-width: 70%;
}

.header h1 {
    color: #215a93;
}

.photo img {
    width: 150px;
    height: 180px;
}

section {
    margin-top: 20px;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

h2 {
    color: #215a93;
    margin-bottom: 10px;
}

.item {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}
